<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>


    `<div class="column is-one-third">
        <div class="card large">
            <div class="card-image">
                <figure class="image">
                    <!-- image  -->
                    <img src="${element.image}" />
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 no-padding">
                            ${element.title}
                        </p>
                        <p class="subtitle is-6">Dish type: ${element.dishType}</p>
                    </div>
                </div>
                <div class="content">
                    <p>Serves: ${element.servings}</p>

                </div>
            </div>
        </div>
        <footer class="card-footer">
            <a href="#" class="card-footer-item">Save Recipe</a>
        </footer>
    </div>
    </div>

    <!-- Card two -->
    <div class="column is-one-third">
        <div class="card large">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 no-padding">Ingredients</p>
                        <hr>
                    </div>
                </div>
                <div class="content">
                    <ul>
                        TEST RECIPE
                        ${recipeLines()}
                        END TEST RECIPE
                        <li>${element.ingredients.ingredient_0}</li>
                        <li>${element.ingredients.ingredient_1}</li>
                        <li>${element.ingredients.ingredient_2}</li>
                        <li>1 recipe pastry for a 9 inch double crust pie
                        </li>
                        <li>1/2 cup unsalted butter
                        </li>
                        <li>1/2 cup white sugar
                        </li>
                        <li>3 tablespoons all-purpose flour
                        </li>
                        <li>8 Granny Smith apples - peeled, cored and sliced
                        </li>
                        <li>1/2 cup packed brown sugar
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Card Three Card -->
    <div class="column is-one-third">
        <div class="card large">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 no-padding">Directions</p>
                        <hr>
                    </div>
                </div>
                <div class="content">
                    <ol>
                        <li>
                            Combine milk with vinegar in a medium bowl and set aside for 5 minutes to
                            "sour".
                        </li>
                        <li>
                            Combine flour, sugar, baking powder, baking soda, and salt in a large mixing
                            bowl. Whisk egg and butter into "soured" milk. Pour the flour mixture into
                            the wet ingredients and whisk until lumps are gone.
                        </li>
                        <li>
                            Heat a large skillet over medium heat, and coat with cooking spray. Pour 1/4
                            cupfuls of batter onto the skillet, and cook until bubbles appear on the
                            surface. Flip with a spatula, and cook until browned on the other side.
                        </li>
                        <li>
                            Sprinkle booberries on top, and swirl pancake sauce until delicious!
                        </li>
                    </ol>
                </div>
                <iframe width="auto" height="auto" src="https://www.youtube.com/embed/PYwzW6CCxJU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>



</body>

</html>